*{
    margin: 0;
}

#contacthero{
    display: flex;
    height: 600px;
    background-size: cover;
    background-image: linear-gradient( rgba(14,41, 65,.6), rgba(14,41,65,.5) ),
                    url('./restaurantbar.jpg');
    height: 50vh;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #F9F7F3;
}

#contacthero h3{
    padding-top: 50px;
}

#grid-contact-info{
    display: grid;
    padding-left: 200px;
    grid-template-columns: 1.25fr 1fr;
}

#contactinfo{
    display: flex;
    flex-direction: column;
    background-color: #D9B07F;
    padding-top: 40px;
    padding-right: 85px;
    padding-left:85px;
}

#contactinfo h5{
    padding-bottom:10px;
    
}

#contactinfo h6{
    padding-bottom: 5px;
}

#contactinfo p{
    padding-bottom: 6px;

}

.reqinput{
    color: #B80F0A;
}
#form{
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    padding-top: 50px;
    padding-bottom: 50px;
}

#contactform{
    display: block;
    flex-direction: column;
    margin-top: 15px;
    
}

form{
    width: 450px;
}

form label{
    font-family: 'Open Sans';
    font-size: .875rem;
    padding-top: 10px;
}

form [type = "text"], [type = 'email']{
 box-sizing: border-box;
 margin-top: 3px;
 width: 450px;
 font-family: 'Open Sans'; 
 padding: 6px;
 font-size: 1rem;
 border: .5px solid #6D6D6D;
 margin-bottom: 15px;
 background-color: #F9F7F3;
}

textarea{
    box-sizing: border-box;
    margin-top: 3px;
    min-width: 450px;
    max-width: 450px;
    font-family: 'Open Sans'; 
    padding: 6px;
    font-size: 1rem;
    margin-bottom: 10px;
    border: .75px solid #6D6D6D;
    min-height: 70px;
    background-color: #F9F7F3;
}

form [type = 'submit']{
    box-sizing: border-box;
    display: flex;
    box-shadow: none;
    border: none;
    justify-self: flex-end;
    align-items: flex-end;

}

form .button:hover{
    background-color: #FBCAC2;
    color: #FF6F61;
    transition: color .25s ease-in;
    transition: background-color .25s ease-in;
}

#button-align{
    float: right;
    margin: 0;
}